@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: "Century Schoolbook L";
}

.MUSIC{
	display: inline-flex;

	position: relative;
	height: 100%;
	width: 6vw;
	float: left;
}
.MUSIC .hidden{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: none;

}
.MUSIC .show{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	cursor: pointer;
}


.menubar{
	z-index: 999;
	width: 100vw;
	position: fixed;
	height: 6vh;
	background:#FFED00;

	
	
	filter: drop-shadow(0px 10px 10px #000);
	transition: 0.6s ease;
}
.menu{
	height: 100%;
	margin-right: 5vw;
	float: right;
    list-style: none;
	display: inline-flex;
	cursor: pointer;
}
.menu li {

    background:#2D2D2D;
	margin-left: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid #000;
	transform: skewX(-30deg);
	filter: drop-shadow(2px 0px 5px #000);
	
	letter-spacing: 5px;
	font-weight: bolder;
	color:#FFED00 ;

	font-size: 20px;
	
}
.link3{
	text-decoration: none;
}
.logo{
	height: 100%;
	float: left;
}
.logo img{

	float: left;
	height: 100%;
	background: #2D2D2D;
	transform: skewX(-30deg);
	filter: drop-shadow(2px 0px 5px #000);
}
.menubar:hover{
	height: 7vh;
}
.menubar ul li:hover{
     color:#fff ;
    transition: 0.6s ease;
	font-weight: bolder;
	background:#5A5A5A;

}
#three{
	color:#fff ;
	font-weight: bolder;
	background:#5A5A5A;
}

.submenu1{
	
display: none;

	
}
.menubar ul li:hover .submenu1{
	display: block;
	position: absolute;
	margin-top: 10px;
	margin-left: -41px;
	
}
.menubar ul li:hover #people {
	display: block;
	position: absolute;
	width: 204px;

	margin-top: 10px;
	margin-left: -41px;
	text-align: center;

}
.submenu1 ul li a:hover{
	color: white;
}

.submenu1 ul li a{
	white-space: nowrap;
	text-decoration: none;
	color: #FFED00;
	white-space: pre;

}

.submenu1 ul{
	list-style: none;

}
.submenu1 ul li{

	transform: skewX(0deg);
	filter: drop-shadow(0px 0px 0px );
}
.back{
	width: 100%;
	height: 100vh;
	background: #000;
    overflow: hidden;
	position: relative;

}

/*music*/
.tips{
	display: flex;
	height: 5%;
	width: 20%;
	position: absolute;
	top: 94%;
	left: -6.2%;
	transform: translate(-50%,-50%);
    margin-left: 0px;
	align-items: center;
	justify-content: space-around;
	transition: 0.6s;

}
.pips{
	display: flex;
	height: 5%;
	width: 20%;
	position: absolute;
	top: 94%;
	left: -6.2%;
	transform: translate(-50%,-50%);
    margin-left: -200px;
	align-items: center;
	justify-content: space-around;

	transition: 0.6s;
}
.music_tip{
	display: flex;
	border-radius: 20px;
	height: 60%;
	width: 250px;
	
	border: 5px solid #000;
	background: rgba(17,17,17,0.5);

}
.music_tip span{
	color:#FFE500;
	font-weight: bold;
	font-size: 20px;
	animation-name: move;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.music_tip .music_name{
	height: 100%;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
    display: flex;
	align-items: center;
}
#QQmusic{
	position: absolute;
	width: 50px;
	
	animation-name: rotate;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}
#quan{
	position: absolute;
    width: 50px;
	
	animation-name: big_vanish;
	animation-duration: 1.65s;
	animation-iteration-count: infinite;
	filter: brightness(0.5);
}
.tips:hover {
	margin-left: 260px;
}
@keyframes move
{
	from{margin-left: 0;}
	to{margin-left: -240px;}
}
@keyframes rotate
{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@keyframes big_vanish
{
	from{transform: scale(1,1);
	opacity: 1;}
	to{transform: scale(1.5,1.5);
	opacity: 0;}
}

.role_pic1{
	position: absolute;
	top: 53%;
	left: 20%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 2px solid #000;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
	overflow: hidden;
	animation-name:  banner_move1;
	animation-duration: 1s;
}
.pic1{
	height: 100%;
}
@keyframes banner_move1
{
	from{opacity: 0;
		left: 0%;}
	to{opacity: 1;
		left: 20%;}
}


.role_pic2{
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 2px solid #000;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
		overflow: hidden;
	animation-name:  banner_move2;
	animation-duration: 1.2s;
}
@keyframes banner_move2
{
	from{opacity: 0;
		left: 0%;}
	to{opacity: 1;
		left: 50%;}
}

.role_pic3{
	position: absolute;
	top: 53%;
	left: 80%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 2px solid #000;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
		overflow: hidden;
	animation-name:  banner_move3;
	animation-duration: 1.4s;
}
@keyframes banner_move3
{
	from{opacity: 0;
		left: 0%;}
	to{opacity: 1;
		left: 80%;}
}

.back_video{
	width: 100%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.pic1{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pic2{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pic3{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.role_title1{
	position: absolute;
	top: 12%;
	left: 20%;
	transform: translate(-50%,-50%);
	width: 200px;
	height: 50px;
	color: #f4ea2a;
	font-weight: bold;
	font-size: 30px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	animation-name: title_move1;
	animation-duration: 0.6s;
	
}
@keyframes title_move1
{
	from{opacity: 0;
		top: 20%;}
	to{opacity: 1;
		top: 12%;}
}

.logo1{
	height: 100%;
}
.span1{
	letter-spacing: 2px;
}

.role_title2{
	position: absolute;
	top: 12%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 230px;
	height: 50px;
	color: #f4ea2a;
	font-weight: bold;
	font-size: 30px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	animation-name: title_move1;
	animation-duration: 1s;
	
}
@keyframes title_move2
{
	from{opacity: 0;
		top: 20%;}
	to{opacity: 1;
		top: 12%;}
}
.logo2{
	height: 100%;
}
.span2{
	letter-spacing: 2px;
}

.role_title3{
	position: absolute;
	top: 12%;
	left: 80%;
	transform: translate(-50%,-50%);
	width: 230px;
	height: 50px;
	color: #f4ea2a;
	font-weight: bold;
	font-size: 30px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	animation-name: title_move1;
	animation-duration: 1.4s;
}
@keyframes title_move3
{
	from{opacity: 0;
		top: 20%;}
	to{opacity: 1;
		top: 12%;}
}
.logo3{
	height: 130%;
}
.span3{
	letter-spacing: 2px;
}
.role_video1{
	position: absolute;
	top: 53%;
	left: 20%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 10px solid yellow;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
	overflow: hidden;
    opacity: 0.00;
	transition: 0.6s;

}
.role_video1C{
	position: absolute;
	top: 53%;
	left: 20%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 10px solid yellow;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
	overflow: hidden;
    opacity: 1;
	transition: 1s;

}

.role_video2{
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 10px solid yellow;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
	overflow: hidden;
    opacity: 0;
	transition: 0.6s;

}
.role_video2C{
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 10px solid yellow;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
	overflow: hidden;
    opacity: 1;
	transition: 1s;

}
.video1{
	position: absolute;
	top: 73%;
	left:170%;
	transform: translate(-50%,-50%);

	
}
.video2{
	position: absolute;
	top: 73%;
	left:52%;
	transform: translate(-50%,-50%);


	
}

.role_video3{
	position: absolute;
	top: 53%;
	left: 80%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 10px solid yellow;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
	overflow: hidden;
    opacity: 0;
	transition: 0.6s;

}
.role_video3C{
	position: absolute;
	top: 53%;
	left: 80%;
	transform: translate(-50%,-50%);
	height: 70%;
	width: 20%;
	border: 10px solid yellow;
	box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
	overflow: hidden;
    opacity: 1;
	transition: 1s;

}
.video3{
	position: absolute;
	top: 73%;
	left:-64%;
	transform: translate(-50%,-50%);



	
}
.anim{

	width: 50px;
	height: 50px;
}

